<div class="box">
  <div class="container">
    <div class="row">


    <!-- <div *ngFor="let users of usuarios"> -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let user of usuarios">
        <div class="box-part text-center">
          <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>{{ user?.email }}</h4>
          </div>
          <div class="text">
            <span *ngIf="user.admin == true">Admin: Sim</span>
            <span *ngIf="user.admin != true">Admin: Não</span>
          </div>
          <a (click)="deleteUsers(user)">Excluir </a>
          <a (click)="openModalWithComponent()">| Editar</a>
          <!-- <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button> -->
        </div>
      </div>
    <!-- </div> -->
    </div>
  </div>
</div>