<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="/dashboard" routerLinkActive="active">AgroProspects</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="p-2 text-dark" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
    <a class="p-2 text-dark" *ngIf="authService.loggedIn() && authService.adminIn()" routerLink="/admin-dashboard">Área do administrador</a>
    <a class="p-2 text-dark" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Sair</a>
    <!-- <a class="p-2 text-dark" href="#">Pricing</a> -->
  </nav>
  <!-- <a class="btn btn-outline-primary" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
  <a class="btn btn-outline-primary" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
  <a class="btn btn-outline-primary" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Sair</a> -->
</div>

<body class="body">
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>